<link rel="stylesheet" href="about.css">
<!DOCTYPE html>
<html>
    <head>
<div class="bg-illustration">
    <img src="cc.jpg" alt="logo">
  </div>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Open Skies </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>

    
    <body>
        <section>
            <div class = "image">
               <img src="I2.jpeg">
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>open skies is an open source application created by fatima ezzahra seffari, 4th cycle engineering student in web and mobile development.<br>
                    this application used to manage the extracurricular clubs of our euromed university and avoid the traditional paper and pen method.</p>
                    <div class="ls">
                   <a href="/contact" class="contact" >contact</a> 
               
    </body>
</html>
