<link rel="stylesheet" href="add.css">
<div class="parent clearfix">
    <div class="bg-illustration">
      <img src="cc.jpg" alt="logo">
<div class="wrapper">
	<div class="login-box">
        <form action="/add" method="post">
		<h3 class="info-text">CLUB Registration</h3>
      
		<form class="form-container" action="">
			<div class="input-addon">
				<input class="form-element input-field" placeholder="Name" name ="name" type="text">
				
			</div>
			<div class="input-addon">
				<input class="form-element input-field" placeholder="president" name ="president" type="text">
				
			</div>
			<div class="inputadd">
              
                <textarea id="Description" name="Description" placeholder="Description.." style="height:60px" ></textarea>
            </div>
            <div class="button">
                    <input class="form-element input-field"   accept="image/png, image/jpeg" name="myfile" placeholder="myfile" style="width:250px " type="file" id="myfile">
                </div>
            
			
           
           
			<input class="form-element is-submit" type="submit" value="Create Club" >
		</form>
	</div>
</div>