<link rel="stylesheet" href="clubs.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="parent clearfix">
    <div class="bg-illustration">
      <img src="cc.jpg" alt="logo">
<!DOCTYPE html>
<html>

<body>
<center>
<h2> welcome to open skies <br> our clubs are different and distinct choose you club according to your desire</h2>
</center>
<div class="container">
    <div class="card">
      <img src="I4.jpg" alt="Person" class="card__image">
      <p class="card__name">Club1 :LIONS  </p>
      <center><p>The UEMF Lions Club provides volunteer opportunities that inspire and
        responsibility among young people.
  
   </center></p>

      <div class="grid-container">
  
    
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
  
    </div>
    <div class="card">
      <img src="I7.jpg" alt="Person" class="card__image">
      <p class="card__name">Club2 : AIKIDOU</p>
      <center><p>The Aikidou club offers Aikidou sessions for the benefit of members of the UEMF community which allows the improvement of flexibility.</center></p>
      <div class="grid-container">
  
        
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border">join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
    </div>
    <div class="card">
      <img src="I9.jpg" alt="Person" class="card__image">
      <p class="card__name">Club3: PHOTOGRAPHIE</p>
      <center><p>The club brings together photography enthusiasts with the aim of sharing and perfecting their photographic talents.</center></p>
      <div class="grid-container">
  
       
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border">Message </a>
    </div>
  </div>
  

  <div class="container">
    <div class="card">
      <img src="I3.jpg" alt="Person" class="card__image">
      <p class="card__name">Club4 :GAMING</p>
      <center><p>The club brings together video game enthusiasts and allows them to develop their ability to memorize, reason, and group logic.</center></p>
      <div class="grid-container">
  
        
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
  
    </div>
    <div class="card">
      <img src="I10.PNG" alt="Person" class="card__image">
      <p class="card__name">Club5 : DIGICLUB</p>
      <center><p>The DIGIClub is a Peer Learning-based digital technology club that focuses on career development and networking.</center></p>
      <div class="grid-container">
  
        
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
    </div>
    <div class="card">
      <img src="I5.jpg" alt="Person" class="card__image">
      <p class="card__name">Club6 : LE CLUB ECHECS</p>
      <center><p> The club opens its doors for beginners and experienced chess players.</center></p>
      <div class="grid-container">
  
       
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
      <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
    </div>
    <div class="card">
        <img src="I8.jpg" alt="Person" class="card__image">
        <p class="card__name">Club6 : UEMF PICTURE</p>
        <center><p>UEMF P-ictures is a photography club, it is also a place to meet and share experiences and knowledge for student amateur photographers.</center></p>
        <div class="grid-container">
    
          
    
        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
        <a type="submit"  href="/join" class="btn draw-border" onclick=>join  </a> 
        <a type="submit"  href="/Message" class="btn draw-border" onclick=>Message </a>
      </div>
      <div class="card">
        <img src="I14.jpg" alt="Person" class="card__image">
        <p class="card__name">Club6 : KICKBOXING</p>
        <center><p>a club to make live the desire of the sport of combat which is practiced with the fists and the feet, derived from the American boxing to the students.</center></p>
        <div class="grid-container">
        
    
          
    
        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
        <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
        <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
      </div>
      <div class="card">
        <img src="lec.JPeG" alt="Person" class="card__image">
        <p class="card__name">Club6 : UEMF LECTURE</p>
        <center><p>a READING club for students being a psychosensory activity that aims to make sense of graphic signs for you.</center></p>
        <div class="grid-container">
    
         
    
        </div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
        <a type="submit"  href="/join" class="btn draw-border" >join  </a> 
        <a type="submit"  href="/Message" class="btn draw-border" >Message </a>
        
      </div>
  

<div class="wrap">
  
  <a  href="/about" class="button"  >About us </a>
  

</div>


      
  </div>
 
</body>

  

</html>
