<!DOCTYPE html>
<html lang= "fr">
<head>
   <meta charset= "UTF-8 ">
   <meta http-equiv= "X-UA-Compatible " content = "IE=edge">
   <meta name= "viewport " content = "width=device-width initial-scale=1.0 ">
  
   <link rel="stylesheet" href="styles.css">
   
</head>
<body>
      
    

                <div class="main">
                    
                    
                    <div class="navbar">
                        <div class="icon">
                            <div class="bg-illustration">
                                <img src="cc.jpg" alt="logo">
                            
                        </div>
            
                    </div>
            
            
                    </div> 
                    <div class="content">
                        <center><h1>OPEN <span>SKIES</span> APPLICATION</h1>
                       <p class="par">Give to your student life A new taste &#128523;!!!! </h1></center>
                            <p>&emsp;Extracurricular activities are a great way to learn skills that will help you in the future.
                                This includes developing personal ,social skills and learning teamwork there for join us now . </p>
            
                                <div class="ls">
                                    <a href="/signup" class="signup" >SIGN UP</a>
                                    <a href="/login" class="signin" value="Sign in" >SIGN IN</a>
                                    </div>
                
                           
            
                            
                                </div>
                            </div>
                    </div>
                </div>
                <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
               
            </body>
            </html>
                
            </div>
           