<link rel="stylesheet" href="login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="parent clearfix">
    <div class="bg-illustration">
      <img src="gb1.png" alt="logo">

      
    </div>
    
	
		
		
<head>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./master.css">
		<link rel="stylesheet" href="./all.min.css">
		
	</head>
	<body>
		<div class="contanier">
			
			<form method="post" action="/login" >
			<h1>Login</h1>
			
			<div class="login">
				<label id="email">email</label>
			<input class="usInput" type="text" placeholder="Type your email" id="email" name="email">
			<label id="password">password</label>
			<input class="pwInput" type="password" placeholder="Type your password"  id="password" name="password">
			<p>Forget Password?</p>
			</div>
			
			<div> <input type ="submit" id="login-Button">  </div> 
			
			<div class="or">
				<hr>
				<p>Or</p>
			</div>
			<ul class="social-icons">
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			  </ul>
			  <a href="/loginad"  style="color:#fbfbfb;">log in  as an administrator  </a>
			 <div><a onclick="history.back()" class="button"  > &#8249;&#8249; Go Back</a></div>
		</div>
		
	</form>





		</div>
		
			<script src="main.js"></script>
		</body>
	</body>
    