<link rel="stylesheet" href="Message.css">
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <form action="Message" method="post">
    <h3>Welcome Your message</h3>
    
    <div class="container">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname1" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname1" placeholder="Your last name..">
    
        <label for="school">school</label>
        <select id="school" name="school1">
          <option value="EIDIA">EIDIA</option>
          <option value="EMADU">EMADU</option>
          <option value="EBS">EBS</option>
          <option value="EPS">EPS</option>
          <option value="PHARMACIE">PHARMACIE</option>
          <option value="BIOMEDITH">BIOMEDITH</option>
        </select>
    
        <label for="subject1">Subject</label>
        <textarea id="subject1" name="subject1" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </form>
  </div>
        <div>
        <a onclick="history.back()" class="button"> &#8249;&#8249; Go Back</a>
      </div>
      
    
    
    
    </body>
    </html>
    